@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital@1&family=Dancing+Script:wght@700&display=swap');

.bg-aqua{
    background-color: aqua;
}

.navbar-nav{
    justify-content: space-between;
}

.nav-link{
    color: red;
    font-size: 22px;
    margin-left: 250px;
    border-radius: 30px;
    
}
.nav-link:hover{
    border: 2px solid blue;
    color: blue;
    background-color: white;
}


header {
    background-color: #f4f4f4;
    text-align: center;
}



