@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital@1&family=Dancing+Script:wght@700&display=swap');

body{
  margin:1rem;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  height: calc(130vh - 2rem);
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 80px 2fr 1fr 80px;
  grid-template-areas:
  "n n n n"
  "a m m m"
  "a m m m"
  "f f f f";
  grid-gap: .5rem;
  background: linear-gradient(45deg, #00FFff, #fff, #fff, #00ffff);
  margin-top: 0;
}
nav{
  border-style: solid;
  border-color: #006400;
  border-width: 3px;
  grid-area: n;
  height: 200px;
  opacity: 0.9;
}

#foto1{
  background-image: url("menu1.png");
}

#foto2{
  background-image: url(menu2.png);
}


#foto3{
  background-image: url(menu1.png);
}

#foto4{
  background-image: url(menu2.png);
}

aside{
  background-image: url(menu1.png);
  position: relative; 
  top: 0; 
  left: 0; 
  width: 230px;
  grid-area: a;
  height: 94.2%;
  margin-top: 8rem;
  box-shadow: 10px 0 0 #000;
  text-align: center;
}
main{
  height: 100%;
  margin-top: 8rem;
  background-color: white;
  grid-area: m;
  background-color: transparent;
}
footer{
  height: 200px;
  background-image: url(img7.png);
  border-style: solid;
  border-color: #000;
  border-width: 6px;
  grid-area: f;
  margin-bottom: 0;
}
body *{
  border-radius: 5px;
  padding: 5px;
}
#cA{
  background-color: #808080;
  grid-gap: cA ;
}
#cB{
  background-color: #d3d3d3;
  grid-area: cB;
}
#cC{
  background-color: #808080;
  grid-area: cC;
}
@media only screen and (max-width: 768px;){
  body{
    grid-template-columns: 1fr;
    grid-template-rows:60px 60px 2fr 1fr 1fr 1fr 60px;
    grid-template-areas: 
    "n"
    "a"
    "m"
    "cA"
    "cB"
    "cC"
    "f";
  
}}

details{
  background-color: white;
  font-size: 1.5rem;
  color: olivedrab;
  border: solid;
  position: fixed;
  width: 120px;
}
h1{
  color: #0000ff;
  font-family:'Dancing Script', cursive;
  font-size: 60px;
  text-align: center;
  padding-right: 35px;
  padding-top: 0px;
}

.icon{
  color: #006400;
  background-color: black;
  font-size: 20px;
  border-style: solid;
  border-color: #006400;
  border-width: 2px;
  padding: 0.3rem;
  margin-left:10px; 
}
.txt{
  color: #006400;
  padding: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-align:center;
  margin-bottom: 20px;
}
.inten-menu a {
    text-decoration: none;
}
h2{
  font-family: 'Dancing Script', cursive;
  font-size: 45px;
  color: #0000ff;
  text-align: center;
}
p{
  font-family: 'Dancing Script', cursive;
  text-align: center;
  padding: 1rem;
  color: #0000ff;
  font-size: 50px;
  font-weight: 6px;
  letter-spacing: 3px;

}
h3{
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  padding: 0.2rem;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0;
}
#text1{
  margin:10px;
}

a{
  background-color: #0000ff;
   color: #fff;
   font-size: 28px;
  border: 2px solid #fff;
  border-radius: 1rem;
  text-decoration: none;
}

li{
  font-size: 30px;
  margin-left: 1.4rem;
  color: #0000ff;
  margin-bottom: 3rem;
}

table{
  font-size: 30px;
  font-weight: 6px;
  height: 80px;
}

th{
  border: 3px solid #0000ff;
}

td{
  border: 3px solid #0000ff;
}

#p2, #p3{
  font-size: 70px;
  letter-spacing: 4px;
  font-weight: 6px;
}

#h2{
  font-size: 70px;
  letter-spacing: 4px;
  font-weight: 6px;
}


img{
  width: 550px;
  height: 600px;
  margin: 2rem;
  margin-left:3.5rem;
  align-items: center;
  border: 2px solid #0000ff;
 
}